.select-team-civs-div {
  width: 64vw;
  height: 84vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  // grid-gap: 1em;
}

.select-teams {
  grid-column: 1;
  grid-row: 1;
}

.select-civs {
  grid-column: 2;
  grid-row: 1;
}

.select-civ-for-governour {
  grid-column: 1/3;
  grid-row: 2;
}

.selection {
  width: 30vw;
  height: 40vh;
  justify-self: center;
  align-self: center;
  display: grid;
  justify-content: center;
  background-color: rgba(0,0,0,.5);
  border-radius: 20px;
}

.selection p {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

.civs-wrapper, 
.innerDiv1, 
.innerDiv2, 
.innerDiv3 {
  width: 26vw;
  height: 30vh;
  justify-self: center;
  border: 1px solid white;
}

.innerDiv1, 
.innerDiv2, 
.innerDiv3 {
  display: flex;
  flex-wrap: wrap;
}

.single-civ {
  width: 12vw;
  height: 4vh;
  justify-self: center;
  align-self: center;
  text-align: center;
  line-height: 4vh;
  color: #ffffff;
  cursor: pointer;
  margin-left: 0.6vw;
  transition: all ease-in-out 0.5s;
  border: 1px solid white;
}

.single-civ:hover {
  font-size: 18px;
}

.selectedCiv {
  color: gold;
  font-size: 16px;
}

.paragraph1, .paragraph2 {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}